.total-box {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 12px;
  background-color: black;
  color: white;
}

.total-text {
  font-size: 24px;
  font-weight: 700;
  color:white
}
